In [3]:
import csv 
import requests 
import xml.etree.ElementTree as ET 
import xmltodict
import pandas as pd
import json
import requests
import datetime

In [6]:
master_list= pd.read_excel('C:/Users/pjciz/Dropbox/CharterChurn/CALIFORNIA/pubschls.xls', sheet_name='schools', header=0)

In [9]:
charter_list = master_list.loc[master_list['Charter'] == 'Y']

In [10]:
charter_list = charter_list[['CDSCode','Latitude', 'Longitude']]

In [11]:
charter_list = charter_list.reset_index(drop=True)

In [6]:
schools_of_interest = []

In [7]:
number_of_schools = len(charter_list)
print(number_of_schools)

1951

In [16]:
city = master_list['City']
city.describe()
city = city.drop_duplicates()
city = city.reset_index(drop=True)
city = city.dropna()
city = pd.DataFrame(city)
city = city["City"].str.split(" ", n = 2, expand = True) 
city = city.rename(columns={0: "First", 1: "Second", 2: "Third"})
city.loc[city['Second'].notnull() & city['Third'].notnull() ,'final'] = city['First'] +'+'+ city['Second'] +'+'+ city['Third']
city.loc[city['Second'].notnull() & city['Third'].isna() ,'final'] = city['First'] +'+'+ city['Second']
city.loc[city['Second'].isna() & city['Third'].isna() ,'final'] = city['First']
city_len = len(city)
print(city_len)

1148

In [17]:
city[0:10]

      First   Second Third        final
0   Hayward     None  None      Hayward
1    Newark     None  None       Newark
2   Oakland     None  None      Oakland
3  Berkeley     None  None     Berkeley
4       San  Leandro  None  San+Leandro
5        No     Data  None      No+Data
6     Union     City  None   Union+City
7   HAYWARD     None  None      HAYWARD
8    Dublin     None  None       Dublin
9   Fremont     None  None      Fremont

In [ ]:
schools_of_interest = []

In [ ]:
for i in range(0, city_len):
    try: 
        school_city = city['final'].loc[i]
        print(school_city)
        url = "https://api.greatschools.org/schools/nearby?key=64f623b67f0204ec3574e4896f3085d8&city={}&state=CA&schoolType=public".format(school_city)

        response = requests.get(url)

        doc = xmltodict.parse(response.text)
        schools = doc['schools']
        school = schools['school']

        for item in school:
            schools_of_interest.append(item['gsId'])
        
    except:
        pass

In [ ]:
schools_of_interest = pd.DataFrame(schools_of_interest) 
schools_of_interest = schools_of_interest.drop_duplicates()
schools_of_interest.to_pickle("Schools_of_Interest2.pkl")

In [ ]:
schools_of_interest.to_pickle("Schools_of_Interest2.pkl")

In [ ]:
schools_of_interest = schools_of_interest.rename(columns={0: "gsId"})

In [18]:
schools_of_interest = pd.read_pickle("Schools_of_Interest2.pkl")

In [2]:
school_rating_set = pd.DataFrame(columns=list('ABCDEF'))

In [5]:
for i in range(7500, 8608):
    try: 
        schoolid = schools_of_interest[0][i]
        url = "https://api.greatschools.org/schools/CA/{}?key=64f623b67f0204ec3574e4896f3085d8".format(schoolid)
    
        response = requests.get(url)
    
        doc = xmltodict.parse(response.text)
        school = doc['school']

        school_rating_set.loc[i] = [school['gsRating'],school['parentRating'],school['enrollment'], school['ncesId'], school['gsId'], school['name']]
    
    except:
        pass

In [6]:
school_rating_set.to_pickle("Schools_Set_Out_7500_8608.pkl")

In [7]:
school_rating_1 = pd.read_pickle("Schools_Set_Out_0_499.pkl")
school_rating_2 = pd.read_pickle("Schools_Set_Out_500_2900.pkl")
school_rating_3 = pd.read_pickle("Schools_Set_Out_2900_4800.pkl")
school_rating_4 = pd.read_pickle("Schools_Set_Out_4800_7500.pkl")
school_rating_5 = pd.read_pickle("Schools_Set_Out_7500_8608.pkl")

In [9]:
school_rating_a = school_rating_1.append(school_rating_2)
school_rating_b = school_rating_a.append(school_rating_3)
school_rating_c = school_rating_b.append(school_rating_4)
school_rating_d = school_rating_c.append(school_rating_5)

In [10]:
school_rating = school_rating_d.reset_index(drop=True)

In [11]:
school_rating = school_rating.rename(columns={"A": "gs_Rating", "B": "parentRating", "C": "enrollment", "D": "ncesId", "E": "gsId", "F" : "name"})

In [12]:
school_rating.to_pickle("Schools_Ratings_Final.pkl")

In [27]:
school_rating = pd.read_pickle("Schools_Ratings_Final.pkl")

In [30]:
Full_Set = pd.read_pickle("All_Schools_Analysis.pkl")

In [31]:
Full_Set['ncesId'] = Full_Set['NCESDist'] + Full_Set['NCESSchool']

In [32]:
Charter_Schools_Final = pd.read_pickle("Charter_Schools.pkl")

In [25]:
Charter_Schools = Full_Set.loc[Full_Set['Charter'] == "Y"]

In [27]:
Charter_Schools2 = Charter_Schools[['School', 'CDS_CODE', 'ncesId', 'Latitude', 'Longitude']]

In [28]:
Charter_Schools3= Charter_Schools2.drop_duplicates(subset='CDS_CODE')

In [29]:
Public_Schools = Full_Set.merge(school_rating, left_on='ncesId', right_on='ncesId')

In [30]:
Public_Schools2 = Public_Schools.drop_duplicates(subset='CDS_CODE')

In [31]:
Public_Schools3 = Public_Schools2[['School', 'CDS_CODE', 'ncesId', 'Latitude', 'Longitude', 'enrollment', 'gs_Rating', 'parentRating']]

In [32]:
Public_Schools_Final = Public_Schools3.reset_index(drop=True)

In [33]:
Charter_Schools_Final = Charter_Schools3.reset_index(drop=True)

In [35]:
Public_Schools_Final.to_pickle("Public_Schools.pkl")

In [34]:
Charter_Schools_Final.to_pickle("Charter_Schools.pkl")

In [33]:
Charter_Schools_Final = pd.read_pickle("Charter_Schools.pkl")

In [34]:
Charter_Schools_Final.head()

,School,CDS_CODE,ncesId,Latitude,Longitude
0,FAME Public Charter,01100170109835,069105110546,37.521436,-121.99391
1,Envision Academy for Arts & Technology,01100170112607,069105110947,37.804520,-122.26815
2,Aspire California College Preparatory Academy,01100170118489,069105112283,37.868991,-122.27844
3,Community School for Creative Education,01100170123968,069105112844,37.784648,-122.23863
4,Yu Ming Charter,01100170124172,069105112901,37.847375,-122.28356

In [36]:
Public_Schools_Final = pd.read_pickle("Public_Schools.pkl")

In [37]:
Public_Schools_Final.head()

,School,CDS_CODE,ncesId,Latitude,Longitude,enrollment,gs_Rating,parentRating
0,Alameda Science and Technology Institute,01611190106401,060177010547,37.780753,-122.27930,175,9,3
1,Ruby Bridges Elementary,01611190111765,060177011549,37.781834,-122.28614,535,3,4
2,Maya Lin,01611190126656,060177013107,37.772724,-122.27189,304,5,5
3,Alameda High,01611190130229,060177000041,37.764958,-122.24593,1853,9,3
4,Encinal Junior/Senior High,01611190132142,060177000045,37.772765,-122.28900,1336,6,4